<a href="https://colab.research.google.com/github/johyunkang/adp_certificate/blob/main/adp_stats_quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ADP 27회 통계

Q1. 2년 전 제품 생산량이 100,000개, 1년 전 제품 생산량이 150,000개, 그 후 팩토리 기술의 상승으로 제품 생산량이 250,000개 되었을 때, 연평균 상승률의 대푯값을 구하시오. (반올림하여 소수점 아래 둘째자리까지 표기하시오.)

In [ ]:
import numpy as np
import warnings
warnings.filterwarnings(action='ignore')

p2 = 100_000
p1 = 150_000
p0 = 250_000

rt1 = (p1/p2)
rt2 = (p0/p1)
geo_mean=np.sqrt(rt1 * rt2) - 1
print('기하평균:', round(geo_mean * 100, 2), '%')
print('CAGR : ', round(((p0/p2)**(1/2)-1)*100, 2), '%')

기하평균: 58.11 %
CAGR :  58.11 %

#### 조화평균



$속력 = \dfrac {거리} {시간}$

$\dfrac {2ab} {a + b} ,  \dfrac {3abc} {ab+bc+ca}$

$a = \dfrac {d} {t_a}, b = \dfrac {d} {t_b}$


Q. 100km의 거리를 절반은 40km/h 의 속도로 가고, 나머지 50km는 100km/h 속도로 갔다면 평균속력은?

In [ ]:
a = 40
b = 100

ans1 = (2*a*b)/(a + b) # 2ab / (a+b)
print(ans1)

ans2 = 2/(1/a + 1/b) # 2 / (1/a + 1/b)
print(ans2)

57.142857142857146
57.14285714285714

#### NPV

In [ ]:
cashflows = [ 10000, 20000, 30000, 40000]
r = 0.05 # 할인률
npv = -70_000 # 최초 투자금액이며 현금 유출이라 (-)로 표시

period = 1 # 1Y: 1, 12month : 12

i=0
# npv=0
for c in cashflows :
    i = i + 1
    npv = npv + c/(1+r)**(i/period)
    print(npv)

print('최종 NPV:', npv)

-60476.19047619047
-42335.600907029475
-16420.472951085194
16487.62604059008
최종 NPV: 16487.62604059008

#### IRR

IRR : NPV가 0이 되는 할인율

In [ ]:
import scipy as sp
import numpy as np
cashflows = [-70000, 10000, 20000, 30000, 40000]

Q2. 8건의 광고시간 측정. 평균 15.5초, 분산 3.2초 일때 90% 신뢰구간은?

In [ ]:
# 정규분포를 가정하며, 집계한 광고 수가 30개 미만이므로 t검정을 사용
from scipy import stats
mu = 15.5
var = 3.2
n = 8
# alpha method will be deprecated. please use confidence parameter instead of alpha.
confidence_level_90 = stats.t.interval(alpha=0.9, loc=mu, scale=np.sqrt(var/n), df=(n-1))
print('90% 신뢰구간:', confidence_level_90)
confidence_level_90_n = stats.t.interval(confidence=0.9, loc=mu, scale=np.sqrt(var/n), df=(n))
print('90% 신뢰구간:', confidence_level_90_n)

90% 신뢰구간: (14.301763280356333, 16.698236719643667)
90% 신뢰구간: (14.323918556586312, 16.676081443413686)

Q3. 18개 강의 상류와 하류의 어류다양성 점수에 차이가 있는지 검정하시오. (단, 같은 강에서 상류-하류는 독립이 아닌 종속)
- 3-1 귀무가설과 대립가설을 설정하라

In [ ]:
# 귀무가설 : 강의 상류와 하류간 어류 다양성 점수는 상관 없다.
# 대립가설 : 강의 상류와 하류간 어류 다양성 점수는 상관이 없지 않다.

df= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/27/river.csv')
df.head(3)

  River    up  down
0     A  57.1  45.7
1     B  51.6  37.2
2     C  53.9  53.3

- 3-2 통계량을 구하고, 대립가설 채택 여부를 기술하라

In [ ]:
# t 검정을 사용한다고 생각함
# 상류 / 하류 간 독립이 아니라고 했으므로
# 독립표본 검정(쌍검정)이 아닌 대응표본 검정을 실행해야 한다고 생각

from scipy import stats
import pandas as pd


# 먼저 상류와 하류 데이터에 대한 각각의 정규성 검정을 수행
# 표본의 수가 적으니 비모수 검정 해야 하나?
# shapiro 의 귀무가설은 정규분포를 따른다.
# 대립은 정규분포를 따르지 않는다. p값이 0.05 보다 크면 귀무가설 따름
print('정규성검정 상류:', stats.shapiro(df.up))
print('정규성검정 하류:', stats.shapiro(df.down))
print('샘플 데이터는 p-value 가 둘 다 0.05를 초과하여 정규성을 만족하지만, 실제 시험에선 하나가 정규성을 만족하지 못 했음')

# 둘 중 하나가 정규성을 만족하지 못하여
# stats.ttest_rel을 쓰지 못하고, 윌콕슨 부호순위검정을 수행
stats.wilcoxon(df.up, df.down)

# 수행결과 p-value 가 0.05 미만으로 나와 귀무가설을 기각
# 즉, 상-하류간 어류 다양성 점수에 유의미한 차이가 있었다.

정규성검정 상류: ShapiroResult(statistic=0.9635884165763855, pvalue=0.6447699666023254)
정규성검정 하류: ShapiroResult(statistic=0.9821230173110962, pvalue=0.9640804529190063)
샘플 데이터는 p-value 가 둘 다 0.05를 초과하여 정규성을 만족하지만, 실제 시험에선 하나가 정규성을 만족하지 못 했음

WilcoxonResult(statistic=64.5, pvalue=0.24125289916992188)

Q4. 백분위 회귀 문제

user_counts를 종속변수로 하는 데이터이다.

참조 URL : https://amaruak00.github.io/2022/12/17/adp27th.html

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/27/problem8.csv')
display(df.head(3))
print(df.info())

   temperature   wind  precipitation  user_counts
0    10.400000  4.600       0.844944         6368
1     5.666667  4.625       0.040860         5902
2     4.933333  4.725       0.008696         6226

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   temperature    2097 non-null   float64
 1   wind           2097 non-null   float64
 2   precipitation  2097 non-null   float64
 3   user_counts    2097 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 65.7 KB
None

- 4-1 분위수 회귀분석(Quantile Regression)을 사용하여 백분위 50%로 잡고 회귀 계수를 구하시오. (반올림하여 소수점 둘째자리 까지 표기하시오)

In [ ]:
import statsmodels.formula.api as smf
display(df.head(3))

formula = 'user_counts ~ temperature + wind + precipitation'
model = smf.quantreg(formula, df)
result = model.fit(q=0.5) # 백분위 50%
print('\n\n')
display(result.summary())

names = result.params[1:].index
values = result.params[1:].values

print('\n\n답안 : 각 회귀 계수. 소수점 2자리 반올림')
for name, val in zip(names, values) :
    print(name, ':', round(val, 2))

   temperature   wind  precipitation  user_counts
0    10.400000  4.600       0.844944         6368
1     5.666667  4.625       0.040860         5902
2     4.933333  4.725       0.008696         6226

<class 'statsmodels.iolib.summary.Summary'>
"""
                         QuantReg Regression Results
==============================================================================
Dep. Variable:            user_counts   Pseudo R-squared:               0.3723
Model:                       QuantReg   Bandwidth:                       840.9
Method:                 Least Squares   Sparsity:                        5590.
Date:                Fri, 03 Mar 2023   No. Observations:                 2097
Time:                        09:31:30   Df Residuals:                     2093
                                        Df Model:                            3
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      5941.8395    198.127     29.990      0.000    5553.293    6330.386
temperature     268.8920      6.571     40.918      0.000     256.005     281.779
wind           -129.4050     46.259     -2.797      0.005    -220.124     -38.686
precipitation   -83.3843      7.891    -10.567      0.000     -98.859     -67.910
=================================================================================
"""

답안 : 각 회귀 계수. 소수점 2자리 반올림
temperature : 268.89
wind : -129.41
precipitation : -83.38

- 4-2. 4-1 모델의 회귀계수를 활용하여 temperature: 10.5, wind: 8.2, precipitation: 3.5 일때 `user_counts`를 예측하시오

In [ ]:
df_sample = pd.DataFrame(data={'temperature':[10.5], 'wind': [8.2], 'precipitation': [3.5], 'user_counts':np.nan})

df_array = df_sample.to_numpy() # 배열변환
type(df_array)
y_predict = result.predict(df_sample)
print('y_predict:', y_predict)

y_predict: 0    7412.239537
dtype: float64

In [ ]:
intercept = result.params[0:1].values[0]
temp_coef =result.params[1:2].values[0]
wind_coef =result.params[2:3].values[0]
precip_coef =result.params[3:4].values[0]
print(f'intercept: {intercept}, temp coef: {temp_coef}, wind coef:{wind_coef}, precipitation coef:{precip_coef}')

temp = 10.5
wind = 8.2
precip = 3.5

user_counts = intercept + temp*temp_coef + wind*wind_coef + precip * precip_coef
print('\n ANSWER > user_counts:', user_counts)

intercept: 5941.839468669263, temp coef: 268.89201522609073, wind coef:-129.40501314534777, precipitation coef:-83.38428099709998

 ANSWER > user_counts: 7412.239537261514

In [ ]:
# 소니님 답변
import statsmodels.api as sm


model = sm.QuantReg(df['user_counts'], df.drop(columns ='user_counts')).fit(q=0.5)

# 2번문제
df_sample = pd.DataFrame(data={'temperature':[10.5], 'wind': [8.2], 'precipitation': [3.5]})

df_array = df_sample.to_numpy() # 배열변환
# type(df_array)
r = model.predict(df_sample)
print('r:', r)

r: 0    12440.948145
dtype: float64

In [ ]:
# 소니님 답변
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/27/problem8.csv')
display(df.head(3))
print(df.info())


# 1번문제 
import statsmodels.formula.api as smf
display(df.head(3))

formula = 'user_counts ~ temperature + wind + precipitation'
model = smf.quantreg(formula, df)
result = model.fit(q=0.5) # 백분위 50%
print('\n\n')
display(result.summary())

names = result.params[1:].index
values = result.params[1:].values

print('\n\n답안 : 각 회귀 계수. 소수점 2자리 반올림')
for name, val in zip(names, values) :
    print(name, ':', round(val, 2))




# 2번문제
df_sample = pd.DataFrame(data={'temperature':[10.5], 'wind': [8.2], 'precipitation': [3.5]})

y_predict = result.predict(df_sample)

print('predict:', y_predict)

   temperature   wind  precipitation  user_counts
0    10.400000  4.600       0.844944         6368
1     5.666667  4.625       0.040860         5902
2     4.933333  4.725       0.008696         6226

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   temperature    2097 non-null   float64
 1   wind           2097 non-null   float64
 2   precipitation  2097 non-null   float64
 3   user_counts    2097 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 65.7 KB
None

   temperature   wind  precipitation  user_counts
0    10.400000  4.600       0.844944         6368
1     5.666667  4.625       0.040860         5902
2     4.933333  4.725       0.008696         6226

<class 'statsmodels.iolib.summary.Summary'>
"""
                         QuantReg Regression Results
==============================================================================
Dep. Variable:            user_counts   Pseudo R-squared:               0.3723
Model:                       QuantReg   Bandwidth:                       840.9
Method:                 Least Squares   Sparsity:                        5590.
Date:                Fri, 03 Mar 2023   No. Observations:                 2097
Time:                        09:33:04   Df Residuals:                     2093
                                        Df Model:                            3
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      5941.8395    198.127     29.990      0.000    5553.293    6330.386
temperature     268.8920      6.571     40.918      0.000     256.005     281.779
wind           -129.4050     46.259     -2.797      0.005    -220.124     -38.686
precipitation   -83.3843      7.891    -10.567      0.000     -98.859     -67.910
=================================================================================
"""

답안 : 각 회귀 계수. 소수점 2자리 반올림
temperature : 268.89
wind : -129.41
precipitation : -83.38
predict: 0    7412.239537
dtype: float64

### ANOVA 분석에서 사용하는 Type 1, 2, 3의 샘플  예제

type 별 차이는 아래와 같음 ( 답변은 chatpdf)

> Type 1, Type 2, Type 3 ANOVA는 다중선형회귀분석에서 사용되며, 각 독립변수의 효과를 검정하는 방법 중 하나입니다. 이들은 각각 다른 가정을 기반으로 하며, 사용하는 경우에 따라 결과가 달라질 수 있습니다.

> Type 1 ANOVA는 독립변수를 추가하는 순서에 따라 결과가 달라지는 문제가 있습니다. 이 방법은 첫 번째 독립변수부터 순서대로 추가하면서 각 변수의 효과를 검정합니다. 이 때, 이미 추가된 변수들이 해당 변수와 상호작용이 있는 경우에도 해당 변수의 효과를 검정합니다. 따라서 Type 1 ANOVA는 변수 추가 순서에 따라 결과가 달라질 수 있으며, 상호작용이 있는 경우에도 해당 변수의 효과를 검정하기 때문에 일반적으로 사용되지 않습니다.

> Type 2 ANOVA는 Type 1 ANOVA와 마찬가지로 각 독립변수의 효과를 검정하지만, 이미 추가된 변수들이 해당 변수와 상호작용이 있는 경우에는 해당 변수의 효과를 검정하지 않습니다. 이 방법은 일반적으로 Type 1 ANOVA보다 더 많이 사용됩니다.

> Type 3 ANOVA는 다른 변수들이 모두 고정된 상태에서 해당 변수의 효과를 검정하는 방법입니다. 이 방법은 다른 변수들과 해당 변수 간의 상호작용이 있는 경우에 유용합니다.

> 따라서, 어떤 방법을 사용해야 할 지 결정하기 위해서는 분석하고자 하는 데이터와 연구목적을 고려해야 합니다. 일반적으로 Type 2 ANOVA가 가장 널리 사용됩니다.


아래는 chatpdf 가 알려준 샘플 예제 코드

In [4]:
import pandas as pd
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

# 데이터 로드
data = pd.read_csv('https://vincentarelbundock.github.io/Rdatasets/csv/datasets/PlantGrowth.csv')
display(data.head(3))
# 모델 정의
model = ols('weight ~ group', data).fit()

print('\n\n')
display(model.summary())
print('\n\n')
# Type 1 ANOVA 분석 결과 출력
print(anova_lm(model, typ=1))

# Type 2 ANOVA 분석 결과 출력
print(anova_lm(model, typ=2))

# Type 3 ANOVA 분석 결과 출력
print(anova_lm(model, typ=3))

   Unnamed: 0  weight group
0           1    4.17  ctrl
1           2    5.58  ctrl
2           3    5.18  ctrl

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 weight   R-squared:                       0.264
Model:                            OLS   Adj. R-squared:                  0.210
Method:                 Least Squares   F-statistic:                     4.846
Date:                Fri, 03 Mar 2023   Prob (F-statistic):             0.0159
Time:                        15:48:42   Log-Likelihood:                -26.810
No. Observations:                  30   AIC:                             59.62
Df Residuals:                      27   BIC:                             63.82
Df Model:                           2
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept         5.0320      0.197     25.527      0.000       4.628       5.436
group[T.trt1]    -0.3710      0.279     -1.331      0.194      -0.943       0.201
group[T.trt2]     0.4940      0.279      1.772      0.088      -0.078       1.066
==============================================================================
Omnibus:                        1.835   Durbin-Watson:                   2.704
Prob(Omnibus):                  0.400   Jarque-Bera (JB):                1.406
Skew:                           0.524   Prob(JB):                        0.495
Kurtosis:                       2.835   Cond. No.                         3.73
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

            df    sum_sq   mean_sq         F   PR(>F)
group      2.0   3.76634  1.883170  4.846088  0.01591
Residual  27.0  10.49209  0.388596       NaN      NaN
            sum_sq    df         F   PR(>F)
group      3.76634   2.0  4.846088  0.01591
Residual  10.49209  27.0       NaN      NaN
              sum_sq    df           F        PR(>F)
Intercept  253.21024   1.0  651.602920  1.936575e-20
group        3.76634   2.0    4.846088  1.590996e-02
Residual    10.49209  27.0         NaN           NaN

## 4.1 교차분석
### 4.1.1 카이제곱 검정이란?
- 카이제곱(X2) 분포에 기초한 통계 방법
- 설명변수가 범주형 자료인 경우 사용
- 각 범주에 따른 결과변수이 분포를 설명하거나, 범주형 변수가 두 개 이상인 경우 두 변수가 상관이 있는지를 검정함
- 기본가정 : 각 범주의 기대빈도가 5 이상이어야

### 4.1.2 교차분석 개념
- 범주형 자료(명목/서열 수준)인 두 변수 간의 관계를 알아보기 위해 실시하는 분석 기법
- 적합성 검정, 독립성 검정, 동질성 검정에 사용되며, 카이제곱 검정 통계량을 이용함
- 교차분석은 교차표에서 각 셀의 관찰빈도와 기대빈도 간의 차이를 검정함
    - 관찰빈도 : 자료로 부터 얻은 빈도분포
    - 기대빈포 : 두 변수가 독립일 때 이론적으로 기대할 수 있는 빈도분포