<a href="https://colab.research.google.com/github/johyunkang/adp_certificate/blob/main/adp_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ADP 20회
문제출처 : https://www.datamanim.com/dataset/ADPpb/00/p2.html

## 1번
- 날씨 온도 예측, 종속변수 : actual(최고온도)
- 데이터 출처 : https://towardsdatascience.com/random-forest-in-python-24d0893d51c0
- 데이터 경로 : /kaggle/input/adp-kr-p2/problem1.csv
- temp_1 : 전날 최고온도
- temp_2 : 전전날 최고온도
- friend : 친구의 예측온도

### 1-1번
데이터 확인 및 전처리
- 데이터 EDA 수행
- 결측치를 확인하고 처리 방안에 대해 논의하라
- 데이터 분할 방법 설명
- 최종 데이터셋이 적절함을 주장하라.

In [1]:
import pandas as pd
import seaborn as sns
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/adp/p2/problem1.csv')
df.head()

,year,month,day,week,temp_2,temp_1,average,actual,forecast_noaa,forecast_acc,forecast_under,friend
0,2016,1,1,Fri,45,45,45.6,45,43,50,44,29
1,2016,1,2,Sat,44,45,45.7,44,41,50,44,61
2,2016,1,3,Sun,45,44,45.8,41,43,46,47,56
3,2016,1,4,Mon,44,41,45.9,40,44,48,46,53
4,2016,1,5,Tues,41,40,46.0,44,46,46,46,41